@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: #171515;
}

.navbar {
    font-weight: 700;
}
.navbar-brand {
    color: white;
}
.nav-item {
    color: white
}
.navbar-expand-lg {
    background-color: #020202;
}

.cabecalhoIpTable{
    text-align: center;
}

.card {
    max-width: 100%;
}
.container {
    width: 100vw;
}

.form-control {
    margin-top: 20px;
}

#btnGetIp {
    margin-top: 20px;
}

.input-connect {
    border: 1px solid #568ff2;
    padding: 5px;
    max-width: 50%;
}

.btn {
    cursor: pointer;
    margin-top: 5px;
}

.erro {
    font-size: 12px;
    font-style: italic;
    color: red;
}
