@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: #909090;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.titulo {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 40px;
    font-weight: 800;
}

.tituloLeft {
    color: black;
}

.box {
    background-color: rgba(0, 0, 0, 0.757);
    height: 90%;
    width: 70%;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 5px solid black;
}

.left {
    display: grid;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    border-radius: 25px 0 0 25px;
    grid-template-rows: 1fr 5fr 0.5fr;
}

.right {
    display: grid;
    background-color: #5E5E5E;
    justify-content: center;
    grid-template-rows: 1fr 5fr 0.5fr;
    border-radius: 0 20px 20px 0;
}

.btn {
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 20px;
    height: 50px;
    width: 100px;
    border: 1px solid rgb(255, 255, 255);
}


.dinamicoLeft {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    max-width: 30vw;
    gap: 20px;
    height: 20px;
    justify-content: center;
}

.itensLeft{
    flex: 1;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(255, 247, 0);
    border: 1px solid black;
    max-height: 20px;
    max-width: 100px;
}

.dinamicoRight {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    max-width: 30vw;
    gap: 20px;
    height: 20px;
    justify-content: center;
}

.itensRight{
    flex: 1;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(255, 247, 0);
    border: 1px solid rgb(255, 255, 255);
    max-height: 20px;
    max-width: 100px;
}

.enviarReceber {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.boxIO {
    flex: 1;
    padding: 20px;
    max-width: 80px;
    color: white;
    text-align: center;
    background-color: blue;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.enviar {
    border: 2px solid black;
}

.baixar {
    border: 2px solid white;
}
.boxIO:hover{
    background-color: rgb(255, 0, 0);
}
